<div class="center my-4">
        <%Property.all.each do |p|%>
        <% if p.tenants.include?(current_user)%>
        <%= image_tag p.avatar.first, size: "1080x480" if p.avatar.attached?%>

</div>


<div class="card text-light bg-dark text-center" style="width: 68rem;">
  <div class="card-body">
        <h5 class="card-title">Property Details</h5>
        <hr>
       
         <p class="card-text">Property Name : <%=p.name %></p>
         <hr>
        <p class="card-text">Property City : <%=p.city %></p>
        <hr>
        <p class="card-text">Property Rent : <%=p.property_rent %></p>
        <hr>
  </div>
</div>
<hr>

        <div class="card text-center" style="width: 68rem;">
  <div class="card-header">
    Time
  </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item"> Booking Duration : <%=p.bookings.first.booking_time%></li> 
          <li class="list-group-item"> Booking Date : <%= time_tag Date.today (p.bookings.first.created_at)%> </li>
      </ul>
  </div>
<hr>

<br>
<%= link_to 'Share My Property', update_status_path(p.id), class: 'btn btn-info'%>



  <%end%> 
<%end%>


</div>






    