<div class="container">
  <div class="row justify-content-center">
  <%= search_form_for @q do |form| %>
   <%= form.label :location %> 
  <%= form.text_field :city_cont %>

   <br>

     <%= form.label :sharing %>
     <%= form.select :sharing_eq, options_from_collection_for_select(Property.select("sharing").distinct, "id", "sharing") %>
     <br>
      <%= form.label :property_type %>
     <%= form.select :property_type_eq, options_from_collection_for_select(Property.select("property_type").distinct, "id", "property_type") %>
     <br>

  <%= form.label :price %>
  <%= form.number_field :property_rent_cont %>

  <br>
  <%= form.submit %>
  <% end %>
  </div>
  <br>
    <%@properties&.each do |property|%>
    <div style="display: flex; flex-direction justify-content center">
    <div>
    <%=image_tag url_for(property.avatar.first), size: "300x300" if property.avatar.attached?%>  
    <hr/>
    </div>
    
    <div>
    <table>
    <% if user_signed_in? && current_user.role=='Student'%>


     <%= property.name %>
         <br>
         <%= property.city %>
         <br>
         <%= property.property_rent %>
         <br>
         <%=property.beds%>
         <td><%= link_to 'Click to show more ', property_path(property.id) %></td>
    <% else %>
   <tr>
        Property Name : <%= property.name %>
        <br/>
        <td><%= link_to 'Show', property_path(property.id) %></td>
        <br/>
        <td><%= link_to 'Edit', edit_property_path(property.id) %></td>
        <br/>
        <td><%= link_to 'Delete', property ,data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
              <br/>
        </td>
    </tr>

    <% end %>
    </table>
    </div>
    </div>

<%end%>

   <%== pagy_bootstrap_nav(@pagy) %>

</div>





