<div class="container">
  <div class="row justify-content-center">
    <h4 class="mb-4 display-4">Property ID  <%= @properties.id %></h4>
  </div>
  <div class="row">
          <%=render partial: 'layouts/caras', locals: {props: @properties}%>
          <br>
          <br>


<div class="card text-center bg-success">
  <div class="card-body">
    <h5 align="center"> Property Details </h5>
     <br>
            <br>
            Name:
            <%= @properties.name %>
              <br/>
              <br/>
            City:
            <%= @properties.city %>
              <br/>
              <br/>
            Address:
            <%= @properties.address %>
              <br/>
              <br/>

            Price:
            <%= @properties.property_rent %>
            <br/>
            <br/>
            Bedrooms: 
            <%= @properties.bedrooms %>
            <br/>
            <br/>
            Bathrooms:
            <%= @properties.bathrooms %>
              <br>
               Sharing : 
            <%= @properties.sharing %>
              <br>
              <br>

             Uploaded  by <%= @properties.user.name%>
             <br>
             Contact  <%= @properties.user.email%>
             <br>
            <br/>
            <br/>
          </div>
          </div>
          <br>
          <br>
          <br>
    <div class="card text-center" style="width: 77rem;">
     <div class="card-body">
     <h5 class="list-group card-title text-center"> Amenities</h5>
    <hr>
    <p class="card-text"><%= @properties.amenities_1%></p>
    <p class="card-text"><%= @properties.amenities_2%></p>
    <p class="card-text"><%= @properties.amenities_3%></p>

  </div>
</div>

<br>
<br>

  <div class="card text-center" style="width: 77rem;">
  <div class="card-body">
     <h5 class="list-group card-title text-center"> Protocols</h5>
    <hr>
    <p class="card-text"><%= @properties.protocol_1%></p>
    <p class="card-text"><%= @properties.protocol_2%></p>

  </div>
</div>
<br>
<br>

          <% if user_signed_in? && current_user.role=='Owner' && @properties.status=='booked'%>
          <%= link_to 'Generate Bill', new_path(params[:id]), class: 'btn btn-primary' %>
          <% end %>
          <br>
          <br>


              <% if @properties.status=='booked'%>
          Booker Name <%=@properties.tenants.first.name %>
                        <br>
          Booker Email  <%=@properties.tenants.first.email  %>
                    <% end %>



 <% if user_signed_in? && current_user.role=='Student'%>
<div class="text-center">
 <%= link_to "Click to Book",{controller: 'bookings', action: 'confirm_booking', id:@properties.id}, class: 'btn btn-primary' %>
 </div>
<% end %>
  </div>
</div>





