<div class="container">
  <div class="row justify-content-center">
    <h4 class="mb-4 display-4">Property Details  <%= @properties.id %></h4>
  </div>
  <div class="row">
          <%=render partial: 'layouts/caras', locals: {props: @properties}%>

          <div class="properties m-5", style='border: 2px solid darkred; padding: 60px;'>
            Name:
            <%= @properties.name %>
              <br/>
              <br/>
            City:
            <%= @properties.city %>
              <br/>
              <br/>
            Address:
            <%= @properties.address %>
              <br/>
              <br/>

            Price:
            <%= @properties.property_rent %>
            <br/>
            <br/>
            Beds: 
            <%= @properties.beds %>
            <br/>
            <br/>
            Bathrooms:
            <%= @properties.bathrooms %>
            <br/>
            <br/>
          </div>
    </div>
 <%# <%= render 'bookings/new'%> 
 <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

  </div>
</div>





