<div class="container">
  <div class="row justify-content-center">
    <h4 class="mb-4 display-4">Property ID  <%= @properties.id %></h4>
  </div>
  <div class="row">
          <%=render partial: 'layouts/caras', locals: {props: @properties}%>

          <div class="properties m-5", style='border: 2px solid darkred; padding: 30px;'>
           <h5 align="center"> Property Details </h5>
           <br>
            Name:
            <%= @properties.name %>
              <br/>
              <br/>
            City:
            <%= @properties.city %>
              <br/>
              <br/>
            Address:
            <%= @properties.address %>
              <br/>
              <br/>

            Price:
            <%= @properties.property_rent %>
            <br/>
            <br/>
            Beds: 
            <%= @properties.beds %>
            <br/>
            <br/>
            Bathrooms:
            <%= @properties.bathrooms %>
              <br>
               Sharing : 
            <%= @properties.sharing %>
              <br>
              <br>

             Uploaded  by <%= @properties.user.name%>
             <br>
             Contact  <%= @properties.user.email%>
             <br>
            <br/>
            <br/>
          </div>

     
    
          <div class="properties m-5", style='border: 2px solid darkred; padding: 15px;'>
              <h5 align="center"> Amenities   </h5>
              <br>
            First Amenities : 
            <%= @properties.amenities_1 %>
              <br/>
              <br/>
            Second Amenities : 
            <%= @properties.amenities_2 %>
              <br/>
              <br/>
            Third Amenities : 
            <%= @properties.amenities_3 %>
              <br/>
              <br/>
          </div>
    </div>
    
    <div class="properties m-5", style='border: 2px solid darkred; padding: 15px;'>
    <div align="center">
              <h5> Protocols   </h5>
           
           <%= @properties.protocol_1%>
           <br>
           <%=@properties.protocol_2%>
           <br>
           <%=@properties.protocol_2%>

          </div>
           
          </div>
          <% if user_signed_in? && current_user.role=='Owner'%>
          <%= link_to 'Generate Bill', new_path %>
          <% end %>


              <% if @properties.status=='Unbooked'%>
          Booked by <%=@properties.tenants.first.name %>
                        <br>
                    <%=@properties.tenants.first.email  %>
                    <% end %>



 <% if user_signed_in? && current_user.role=='Student'%>

 <%= link_to "Click to Book",{controller: 'bookings', action: 'confirm_booking', id:@properties.id}, class: 'btn btn-primary' %>
<% end %>
  </div>
</div>





